container_commands:
    10_generate_key:
        command: "php artisan key:generate"
        #cwd: "/var/app/ondeck"
        #leader_only: true
    11_migrateandseed:
        #command: "php artisan migrate:refresh"
        command: "php artisan migrate:fresh"
        #cwd: "/var/app/ondeck"
        #leader_only: true
    #12_cache:
        #command: "php artisan cache:clear"
        #cwd: "/var/app/ondeck"
    #13_optimize:
        #command: "php artisan optimize"
        #cwd: "/var/app/ondeck"
    14_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/ondeck"
        cwd: "/var/app/ondeck"